
.navbar {
	background:black;
}
.nav-link, .navbar-brand {
	color: white;
	cursor: pointer;
}
.nav-link {
	margin-right: 1em !important;
}
.nav-link:hover {
	color: #85c8e2;
}
.navbar-collapse {
	justify-content: flex-end;
}