
.navbar {
	background:white;
}
.nav-link, .navbar-brand {
	color: white;
	cursor: pointer;
}
.nav-link {
	margin-right: 1em !important;
}
.nav-link:hover {
	color: #85c8e2;
}
.navbar-collapse {
	justify-content: flex-end;
}

.col-md-4 {

    margin-left: auto;
    margin-right: auto;
}

.col-md-6 {

    margin-left: auto;
    margin-right: auto;
}

